header {
  background: #3079ed;
  padding: 1rem;
  color: white;

  .container {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    display: relative;  
    
    > div {
      position: relative;
      
      h1 {
        margin-right: 1rem;
      }
  
      span {
        position: absolute;
        top: 1.5rem;
        left: 170px;
        background:#eda430;
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
        border-radius: 50%;
        cursor: pointer;
      } 
    }

    input {
      padding: 1rem;
      border: none;
      border-radius: 0.25rem;
      width: 100%;
      max-width: 320px;
      font-size: 1rem;
    }

    button {
      padding: 1rem;
      border: none;
      border-radius: 0.25rem;
      width: 5rem;
      margin-left: 1rem;
      background:#eda430;
      color: white;
      transition: filter .3s;
      
      &:hover {
        filter: brightness(0.8);
      }

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
